*.iml
.DS_Store
.externalNativeBuild
.gradle
.gradle/
.idea/
/.gradle/
/.idea/
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/build
/captures
/gradle/
/local.properties
/Pdf/build/
/Pdf/release/
gradle/
Pdf/build/
Pdf/release/